*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  border: 1px solid lightgray;
}

td,
th {
  border-bottom: 1px solid lightgrey;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid orange;
}

.trash {
  text-align: center;
  cursor: pointer;
}

.button_container {
  border: 1px solid lightgray;
  width: 90%;
  margin: 2rem auto;
  text-align: end;
  padding: 0.7rem 0.75rem;
  box-shadow: 0 0 0.2rem lightgrey;
}

button {
  padding: 0.2rem 0.75rem;
  background-color: #ffaa0a;
  color: #97793f;
  outline: none;
  border: transparent;
  border-radius: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.setOfInputs {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1rem 0;
}

.form_container {
  width: 90%;
  box-shadow: 0 0 0.2rem lightgrey;
  border: 1px solid lightgray;
  padding: 0.75rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 9999;
  scale: 0;
  display: none;
  transition: scale 250ms ease-in-out;
}

.popUp {
  scale: 1;
  display: block;
}

.form {
  position: relative;
}
.prenom {
  position: absolute;
  top: 2.2rem;
  left: 20rem;
}

label {
  margin: 1rem 0;
}

.date {
  position: absolute;
  top: 7.6rem;
  left: 20rem;
}

.etat {
  position: absolute;
  top: 2.2rem;
  left: 45rem;
}

.submit {
  width: 20%;
  padding: 0.3rem 0;
  border: transparent;
  border-radius: 0.2rem;
  background-color: #ffaa0a;
  color: #97793f;
  cursor: pointer;
}

.btn {
  text-align: end;
  padding-right: 4rem;
}

input[type="text"] {
  padding: 0.3rem 0.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
}

.enValidation {
  background-color: #fdb64d;
}

.Validé {
  background-color: #5be881;
}

.Rejeté {
  background-color: #ff0000;
}
